<div class='question-container'>
  <% @questions.each do |question| %>

    <article id="<%= question.id %>">
      <form method="post" action='/questions/<%= question.id %>/vote' class="inline">

        <button type="submit" name="submit_param" value="submit_value" class="fa fa-sort-desc vote-button upvote-button"></button>

        <button type="submit" name="submit_param" value="downvote" class="fa fa-sort-desc vote-button downvote-button"></button>
      </form>
      <h2><a href='/questions/<%= question.id %>'><%= question.title %></a></h2>
      <p>

        <span class='timestamp'><%= question.time_since_creation%></span>
        <span class='points'><%= question.points %></span>
        <span class='username'><%= question.user.name %></span>
        <span class='comment-count'><%= question.comments.length %></span>
          <form method="post" action="/questions/<%= question.id %>" class="inline">
      <% if session[:user_id] == question.user_id %>
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="delete" class="no-border no-outline no-bg c-white hover-underline">
      <% end %>
    </form>
      </p>
    </article>

  <% end %>
</div>
