
<header>
  <h1>Caesium Overflow</h1>
  <p>
    <a href="#questions">new</a>
    <a href="#">comments</a>
    <a href="/register">register</a>
    <a href="/log_in">login</a>
  </p>
</header>

<div class='question-container'>
  <% @questions.each do |post| %>

    <article id="<%= question.id %>">
      <form method="post" action='/posts/<%= question.id %>/vote' class="inline">
        <button type="submit" name="submit_param" value="submit_value" class="fa fa-sort-desc vote-button upvote-button"></button>
      </form>
      <h2><a href='/questions/<%= question.id %>'><%= question.title %></a></h2>
      <p>
        <span class='points'><%= question.points %></span>
        <span class='username'><%= question.user_id.email %></span>
        <span class='timestamp'><%= question.id %></span>
        <span class='comment-count'><%= question.comments.length %></span>
        <a class="delete" href='/questions/<%= question.id %>'></a>
      </p>
    </article>

  <% end %>
</div>

