
<header>
  <h1>Caesium Overflow</h1>
  <p>
    <a href="#questions">new</a>
    <a href="#">comments</a>
    <a href="/register">register</a>
    <a href="/log_in">login</a>
  </p>
</header>

<div class='question-container'>
  <% @questions.each do |question| %>

    <article id="<%= question.id %>">
      <form method="post" action='/questions/<%= question.id %>/vote' class="inline">
        <button type="submit" name="submit_param" value="submit_value" class="fa fa-sort-desc vote-button upvote-button"></button>
      </form>
      <h2><a href='/questions/<%= question.id %>'><%= question.title %></a></h2>
      <p>


<!--         <span class='timestamp'><%# question.time_since_creation%></span>
        <span class='points'><%# question.points %></span>
        <span class='username'><%# question.user_id.email %></span>
        <span class='timestamp'><%# question.id %></span> -->
        <span class='comment-count'><%= question.comments.length %></span>
          <form method="post" action="/questions/<%= question.id %>" class="inline">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="delete" class="no-border no-outline no-bg c-white hover-underline">
    </form>
      </p>
    </article>

  <% end %>

<form method="post" action="/questions">
  <input type="hidden" name="question[user_id]" value="<%= @id%>">
  <label for="title-input" class="block mar-b-1">Title:</label>
  <input id="title-input" name="question[title]" type="text" value="<%= @question.try(:title) %>" tabindex="1" class="block w-100 no-outline no-border pad-1 mar-b-2">

  <label for="body-textarea" class="block mar-b-1">Body:</label>
  <textarea id="body-textarea" name="question[body]" tabindex="2" class="block w-100 h-10 no-resize no-outline no-border no-resize pad-1 mar-b-2"><%= @question.try(:body) %></textarea>

  <input type="submit" value="Publish" tabindex="3" class="block button w-100 mar-t-4 mar-b-3 pad-2 round-1 text-c center no-border no-outline">
</form>
</div>

